# Exclude build artifacts and dependencies (will be installed fresh)
**/node_modules
**/build
**/dist
**/.git
.git
.gitignore

# Exclude development files
**/.cache
**/.vscode
**/.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
