save-exact=true
legacy-peer-deps=true
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
//registry.npmjs.org/:always-auth=true
//registry.yarnpkg.com/:_authToken=${NPM_TOKEN}
//registry.yarnpkg.com/:always-auth=true
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
//registry.npmjs.org/:always-auth=true