.panelExport-imageButtons {
  display: flex;
}

.panelExport-exportToPngButton {
  flex: 1 1 auto;
}

.panelExport-exportToShortlinkButton {
  flex: 1 1 auto;
}

.panelExport-exportToClipboardButton {
  margin-left: 10px;
  padding: 0 15px;

  svg {
    width: 15px;
  }
}
