.excalidraw {
  .dialog-mermaid {
    &-title {
      margin-block: 0.25rem;
      font-size: 1.25rem;
      font-weight: 700;
      padding-inline: 2.5rem;
    }
  }

  .ttd-dialog-auto-convert-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 1rem;
  }

  .ttd-dialog-auto-convert-label {
    font-size: 0.875rem;
    color: var(--color-gray-50);
    user-select: none;
    cursor: pointer;
  }
}
