/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Handwritten style font */
@font-face {
  font-family: "ComicNeue";
  src: url("ComicNeue-Regular.woff2");
  font-weight: 400;
}

/* Code style font */
/* https://github.com/microsoft/cascadia-code */
@font-face {
  font-family: "Cascadia";
  src: url("Cascadia.woff2");
  font-display: swap;
}

/* Normal style font */
@font-face {
  font-family: "ProximaNova";
  src: url("ProximaNova-Regular.woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "ProximaNova";
  src: url("ProximaNova-SemiBold.woff2");
  font-display: swap;
  font-weight: 600;
}
