@import "../../css/variables.module";

.excalidraw {
  .sidebar-trigger {
    @include outlineButtonStyles;
    @include filledButtonOnCanvas;

    width: auto;
    height: var(--lg-button-size);

    display: flex;
    align-items: center;
    gap: 0.5rem;

    line-height: 0;

    font-size: 0.75rem;
    letter-spacing: 0.4px;

    svg {
      width: var(--lg-icon-size);
      height: var(--lg-icon-size);
    }
  }

  .default-sidebar-trigger .sidebar-trigger__label {
    display: block;
  }

  &.excalidraw--mobile .default-sidebar-trigger .sidebar-trigger__label {
    display: none;
  }
}
