/* http://www.eaglefonts.com/fg-virgil-ttf-131249.htm */
@font-face {
  font-family: "Virgil";
  src: url("FG_Virgil.ttf");
  font-display: swap;
}

/* https://github.com/rubjo/victor-mono */
@font-face {
  font-family: "Victor Mono";
  src: url("VictorMono-Medium.woff2");
  font-display: swap;
}
