@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Vazirmatn', sans-serif;
}
