@import "../css/variables.module";

.excalidraw-hyperlinkContainer {
  display: flex;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
  padding: 4px;
  z-index: 100;
  justify-content: space-between;
  background: $oc-white;

  &-input,
  button {
    z-index: 100;
  }
  &-input {
    height: 24px;
    width: 18rem;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 5px 8px;

    &:focus,
    &:focus-visible {
      outline: none;
      border: none;
      box-shadow: none !important;
    }
  }

  &-link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px;
    max-width: 15rem;
  }
  button {
    color: $oc-blue-6;
    background-color: $oc-white !important;
    font-weight: 500;
    &.excalidraw-hyperlinkContainer--remove {
      color: $oc-red-9;
    }
  }

  .d-none {
    display: none;
  }

  &--edit .ToolIcon__icon svg {
    color: $oc-green-7;
    fill: $oc-green-7;
  }

  &--remove .ToolIcon__icon svg {
    color: $oc-red-7;
    fill: $oc-red-7;
  }
  &--save .ToolIcon__icon svg {
    color: $oc-green-7;
    fill: $oc-green-7;
  }

  .ToolIcon__icon {
    width: 2rem;
    height: 2rem;
  }
}
