@import "../css/variables.module";

.excalidraw-hyperlinkContainer {
  display: flex;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
  padding: 4px;
  z-index: 100;
  justify-content: space-between;
  width: 20rem;
  background: $oc-white;
  * {
    padding: 4px;
  }
  &-input,
  button {
    z-index: 100;
  }
  &-input {
    height: 24px;
    width: 16rem;
    font-size: 16px;
    border: none;

    &:focus,
    &:focus-visible {
      outline: none;
      border: none;
      box-shadow: none !important;
    }
  }

  &-link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px;
    max-width: 12rem;
  }
  button {
    color: $oc-blue-6;
    background-color: $oc-white !important;
    font-weight: 500;
    &.excalidraw-hyperlinkContainer--remove {
      color: $oc-red-9;
    }
  }

  .d-none {
    display: none;
  }
}
