.excalidraw {
  .virgil {
    font-family: "Virgil";
  }

  // WelcomeSreen common
  // ---------------------------------------------------------------------------

  .welcomeScreen-decor {
    pointer-events: none;

    color: var(--color-gray-40);
  }

  &.theme--dark {
    .welcomeScreen-decor {
      color: var(--color-gray-60);
    }
  }

  // WelcomeScreen.Hints
  // ---------------------------------------------------------------------------

  .welcomeScreen-decor-hint {
    @media (max-height: 599px) {
      display: none !important;
    }

    @media (max-width: 1024px), (max-width: 800px) {
      .welcomeScreen-decor {
        &--help,
        &--menu {
          display: none;
        }
      }
    }

    &--help {
      display: flex;
      position: absolute;
      right: 0;
      bottom: 100%;

      :root[dir="rtl"] & {
        left: 0;
        right: auto;
      }

      svg {
        margin-top: 0.5rem;
        width: 85px;
        height: 71px;

        transform: scaleX(-1) rotate(80deg);

        :root[dir="rtl"] & {
          transform: rotate(80deg);
        }
      }
    }

    &--toolbar {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 2.5rem;
      display: flex;
      align-items: baseline;

      .welcomeScreen-decor-hint__label {
        width: 120px;
        position: relative;
        top: -0.5rem;
      }

      svg {
        width: 38px;
        height: 78px;

        :root[dir="rtl"] & {
          transform: scaleX(-1);
        }
      }
    }

    &--menu {
      position: absolute;
      width: 320px;
      font-size: 1rem;

      top: 100%;
      margin-top: 0.25rem;
      margin-inline-start: 0.6rem;

      display: flex;
      align-items: flex-end;
      gap: 0.5rem;

      svg {
        width: 41px;
        height: 94px;

        :root[dir="rtl"] & {
          transform: scaleX(-1);
        }
      }

      @media (max-width: 860px) {
        .welcomeScreen-decor-hint__label {
          max-width: 160px;
        }
      }
    }
  }

  // WelcomeSreen.Center
  // ---------------------------------------------------------------------------

  .welcomeScreen__center {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
  }

  .welcomeScreen__center__logo {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    font-size: 2.25rem;

    svg {
      width: 1.625rem;
      height: auto;
    }
  }

  .welcomeScreen__center__heading {
    font-size: 1.125rem;
    text-align: center;
  }

  .welcomeScreen__menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
  }

  .welcomeScreen__menuItem {
    box-sizing: border-box;

    pointer-events: all;

    color: var(--color-gray-50);
    font-size: 0.875rem;

    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: none;
    border: none;

    padding: 0.75rem;

    border-radius: var(--border-radius-md);

    &__label {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;

      svg {
        width: var(--default-icon-size);
        height: var(--default-icon-size);
      }
    }

    &__shortcut {
      color: var(--color-gray-40);
      font-size: 0.75rem;
    }
  }

  &:not(:active) .welcomeScreen__menuItem:hover {
    text-decoration: none;
    background: var(--color-gray-10);

    .welcomeScreen__menuItem__shortcut {
      color: var(--color-gray-50);
    }

    .welcomeScreen__menuItem__label {
      color: var(--color-gray-100);
    }
  }

  .welcomeScreen__menuItem:active {
    background: var(--color-gray-20);

    .welcomeScreen__menuItem__shortcut {
      color: var(--color-gray-50);
    }

    .welcomeScreen__menuItem__label {
      color: var(--color-gray-100);
    }

    &--promo {
      color: var(--color-promo) !important;

      &:hover {
        .welcomeScreen__menuItem__label {
          color: var(--color-promo) !important;
        }
      }
    }
  }

  &.theme--dark {
    .welcomeScreen__menuItem {
      color: var(--color-gray-60);

      &__shortcut {
        color: var(--color-gray-60);
      }
    }

    &:not(:active) .welcomeScreen__menuItem:hover {
      background: var(--color-gray-85);

      .welcomeScreen__menuItem__shortcut {
        color: var(--color-gray-50);
      }

      .welcomeScreen__menuItem__label {
        color: var(--color-gray-10);
      }
    }

    .welcomeScreen__menuItem:active {
      background-color: var(--color-gray-90);
      .welcomeScreen__menuItem__label {
        color: var(--color-gray-10);
      }
    }
  }

  @media (max-height: 599px) {
    .welcomeScreen__center {
      margin-top: 4rem;
    }
  }
  @media (min-height: 600px) and (max-height: 900px) {
    .welcomeScreen__center {
      margin-top: 8rem;
    }
  }
  @media (max-height: 500px), (max-width: 320px) {
    .welcomeScreen__center {
      display: none;
    }
  }

  // ---------------------------------------------------------------------------
}
