@import "../css/variables.module";

.excalidraw {
  .collab-button {
    @include outlineButtonStyles;
    width: var(--lg-button-size);
    height: var(--lg-button-size);

    svg {
      width: var(--lg-icon-size);
      height: var(--lg-icon-size);
    }
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
    flex-shrink: 0;

    &:hover {
      background-color: var(--color-primary-darker);
      border-color: var(--color-primary-darker);
    }

    &:active {
      background-color: var(--color-primary-darker);
    }

    // same colours as before
    // but blends together too much with bg imo
    &.active {
      background-color: var(--button-special-active-bg-color);
      border-color: var(--button-special-active-bg-color);

      svg {
        color: var(--icon-green-fill-color);
      }

      &:hover,
      &:active {
        background-color: var(--button-special-active-bg-color);
        border-color: var(--button-special-active-bg-color);
      }
    }
  }

  &.theme--dark {
    .collab-button {
      color: var(--color-gray-90);
    }
  }

  .CollabButton.is-collaborating {
    background-color: var(--button-special-active-bg-color);

    .ToolIcon__icon svg,
    .ToolIcon__label {
      color: var(--icon-green-fill-color);
    }
  }

  .CollabButton-collaborators {
    :root[dir="ltr"] & {
      right: -5px;
    }
    :root[dir="rtl"] & {
      left: -5px;
    }
    min-width: 1em;
    min-height: 1em;
    line-height: 1;
    position: absolute;
    bottom: -5px;
    padding: 3px;
    border-radius: 50%;
    background-color: $oc-green-6;
    color: $oc-white;
    font-size: 0.6em;
    font-family: "Cascadia";
  }
}
