.context-menu {
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  padding: 0;
  list-style: none;
  user-select: none;
  margin: -0.25rem 0 0 0.125rem;
  padding: 0.25rem 0;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}

.context-menu-option {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0.25rem 0.5rem;
  text-align: left;
  border-radius: 0;
  background-color: #e9ecef;
  border: none;
}

.context-menu-option:hover {
  color: #fff;
  background-color: #1971c2;
}

.context-menu-option:focus {
  z-index: 1;
}
