.copyUrlInputWrapper {
  display: flex;
  height: 2.5rem;
  flex: 1;
}

.copyUrlInput {
  display: inline-block;
  cursor: pointer;
  border: none;
  height: 2.3rem;
  line-height: 2.5rem;
  padding: 0 0.5rem;
  white-space: nowrap;
  border-radius: var(--space-factor);
  font-size: 0.75rem;
  flex: 1;
  margin: 0.2rem 0.5rem;
}

.copyUrlInput:hover {
  background-color: #eee;
}

.copyUrlInput:focus {
  outline: none;
  box-shadow: 0 0 0 2px steelblue;
}
