.project-name {
  font-family: Virgil;
  font-size: 20px;
  line-height: 32px;
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 4px;
  margin: -4px;
  white-space: nowrap;
  border-radius: var(--space-factor);
}

.project-name:hover {
  background-color: #eee;
}

.project-name:focus {
  outline: none;
  box-shadow: 0 0 0 2px steelblue;
}
