.ExportDialog__preview {
  --preview-padding: calc(var(--space-factor) * 4);

  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==")
    left center;
  text-align: center;
  padding: var(--preview-padding);
  margin-bottom: calc(var(--space-factor) * 3);
}

.ExportDialog__preview canvas {
  max-width: calc(100% - var(--preview-padding) * 2);
  max-height: 25rem;
}

.ExportDialog__actions {
  display: flex;
  align-items: top;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ExportDialog__scales {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
