.FixedUserList {
  pointer-events: none;
  /*github corner*/
  padding: var(--space-factor) 40px var(--space-factor) var(--space-factor);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.FixedUserList > * {
  pointer-events: all;
  margin: 0 0 var(--space-factor) var(--space-factor);
}
