.FixedUserList {
  --margin: 0.25rem;
  position: fixed;
  pointer-events: none;
  top: var(--margin);
  /*github corner*/
  right: calc(var(--margin) + 40px);
  z-index: 2;
}

.FixedUserList > * {
  pointer-events: all;
}
