@import "../css/variables.module";

.excalidraw {
  .FontList {
    position: absolute;
    right: 160px;
    top: 8px;
    font-size: 16px;
    border: 2px solid $oc-orange-8;
    border-radius: 5px;
    padding: 4px;
    background-color: $oc-orange-1;
    height: 32px;
    &:focus {
      outline: none;
    }
  }

  .btn-load-test {
    position: absolute;
    padding: 4px 12px;
    font-size: 16px;
    top: 6px;
    right: 8px;
    background-color: $oc-lime-1;
    border: 2px solid $oc-lime-8;
    height: 32px;
    &:hover {
      background-color: $oc-lime-3;
    }
  }
}
