.Island {
  --padding: 0;
  background-color: var(--bg-color-island);
  backdrop-filter: saturate(100%) blur(10px);
  box-shadow: var(--shadow-island);
  border-radius: var(--border-radius-m);
  padding: calc(var(--padding) * var(--space-factor));
  position: relative;
}
