@import "open-color/open-color";

.excalidraw {
  .library-menu-items-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--island-bg-color);
    padding: 0.5rem;
    box-sizing: border-box;

    .library-actions {
      width: 100%;
      display: flex;
      margin-right: auto;
      align-items: center;

      button .library-actions-counter {
        position: absolute;
        right: 2px;
        bottom: 2px;
        border-radius: 50%;
        width: 1em;
        height: 1em;
        padding: 1px;
        font-size: 0.7rem;
        background: #fff;
      }

      &--remove {
        background-color: $oc-red-7;
        &:hover {
          background-color: $oc-red-8;
        }
        &:active {
          background-color: $oc-red-9;
        }
        svg {
          color: $oc-white;
        }
        .library-actions-counter {
          color: $oc-red-7;
        }
      }

      &--export {
        background-color: $oc-lime-5;

        &:hover {
          background-color: $oc-lime-7;
        }

        &:active {
          background-color: $oc-lime-8;
        }
        svg {
          color: $oc-white;
        }
        .library-actions-counter {
          color: $oc-lime-5;
        }
      }

      &--publish {
        background-color: $oc-cyan-6;
        &:hover {
          background-color: $oc-cyan-7;
        }
        &:active {
          background-color: $oc-cyan-9;
        }
        svg {
          color: $oc-white;
        }
        label {
          margin-left: -0.2em;
          margin-right: 1.1em;
          color: $oc-white;
          font-size: 0.86em;
        }
        .library-actions-counter {
          color: $oc-cyan-6;
        }
      }

      &--load {
        background-color: $oc-blue-6;
        &:hover {
          background-color: $oc-blue-7;
        }
        &:active {
          background-color: $oc-blue-9;
        }
        svg {
          color: $oc-white;
        }
      }
    }
    &__items {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      margin-bottom: 1rem;
    }

    .separator {
      width: 100%;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 0.9rem;
      margin: 0.6em 0.2em;
      color: var(--text-primary-color);
    }
  }
}

// custom Menu Library Sidebar

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-darker);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: $oc-blue-5;
}
