@import "../css/variables.module";

.excalidraw {
  .menu-container {
    width: 240px;
    background-color: #fff !important;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
  }

  .menu-button {
    @include outlineButtonStyles;
    background-color: var(--island-bg-color);
    width: var(--lg-button-size);
    height: var(--lg-button-size);

    svg {
      width: var(--lg-icon-size);
      height: var(--lg-icon-size);
    }
  }

  .menu-item {
    display: flex;
    background-color: transparent;
    border: 0;
    align-items: center;
    padding: 0.5rem 0.625rem;
    column-gap: 0.625rem;
    font-size: 0.875rem;
    color: var(--color-gray-100);
    cursor: pointer;
    border-radius: var(--border-radius-md);
    width: 100%;
    box-sizing: border-box;
    font-weight: normal;

    @media screen and (min-width: 1921px) {
      padding: 0.625rem;
    }

    &__icon {
      line-height: 0;
    }

    &__text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 1;
    }

    &__shortcut {
      margin-left: auto;
      opacity: 0.5;
    }

    &:hover {
      background-color: var(--button-hover);
      text-decoration: none;
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &.theme--dark {
    .menu-item {
      color: var(--color-gray-40);
    }

    .menu-container {
      background-color: var(--color-gray-90) !important;
    }
  }
}
