.excalidraw {
  .dialog-mermaid {
    &-title {
      margin-block: 0.25rem;
      font-size: 1.25rem;
      font-weight: 700;
      padding-inline: 2.5rem;
    }
    &-desc {
      font-size: 15px;
      font-style: italic;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }
  }
}
