@import "../css/_variables";

.excalidraw {
  .PasteChartDialog {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .chart-btn {
      padding: 32px;
      margin: 8px;
    }
  }
}
