.SecretHighFiveZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 8;
  right: 0;
  top: 0;
  width: 120px;
  height: 120px;
  padding: 12px;
  background-color: transparent;
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-island);
  pointer-events: none;
}

.SecretHighFiveZone-hands {
  display: block;
  animation-name: highFive;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(
    0.645,
    0.045,
    0.355,
    1
  ); /* ease-in-out cubic */
}

.SecretHighFiveZone-text {
  margin: 8px 0 0 0;
  font-family: "Virgil";
  font-size: 16px;
  line-height: 20px;
}

.SecretHighFiveZone-closeButton {
  pointer-events: auto;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.75);
}

@keyframes highFive {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.3) rotate3d(0, 0, 1, -5deg);
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.3) rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: scale(1);
  }
}
