@import "../css/variables.module";

.excalidraw {
  .single-library-item {
    &__svg {
      width: 7.5rem;
      height: 7.5rem;
      border: 1px solid var(--button-gray-2);
      margin: 0.3rem;
      svg {
        width: 100%;
        height: 100%;
      }
    }

    .ToolIcon__icon {
      background-color: $oc-white;
      width: auto;
      height: auto;
      margin: 0 0.5rem;
    }
    .ToolIcon,
    .ToolIcon_type_button:hover {
      background-color: white;
    }
  }
}
