@import "../css/variables.module";

.excalidraw {
  --Switch-track-background-off: #ffffff;
  --Switch-track-background-off-hover: #ffffff;
  --Switch-track-background-off-disabled: #ffffff;
  --Switch-track-background-on: #6965db;
  --Switch-track-background-on-hover: #5b57d1;
  --Switch-track-background-on-disabled: #d6d6d6;

  --Switch-track-border-off: #d6d6d6;
  --Switch-track-border-off-hover: #b8b8b8;
  --Switch-track-border-off-disabled: #d6d6d6;
  --Switch-track-border-on: #6965db;
  --Switch-track-border-on-hover: #5b57d1;
  --Switch-track-border-on-disabled: #d6d6d6;

  --Switch-thumb-background-off: #3d3d3d;
  --Switch-thumb-background-off-disabled: #999999;
  --Switch-thumb-background-on: #ffffff;
  --Switch-thumb-background-on-disabled: #999999;

  &.theme--dark {
    --Switch-track-background-off: #242424;
    --Switch-track-background-off-hover: #242424;
    --Switch-track-background-off-disabled: #242424;
    --Switch-track-background-on: #a8a5ff;
    --Switch-track-background-on-hover: #b2aeff;
    --Switch-track-background-on-disabled: #5c5c5c;

    --Switch-track-border-off: #5c5c5c;
    --Switch-track-border-off-hover: #7a7a7a;
    --Switch-track-border-off-disabled: #5c5c5c;
    --Switch-track-border-on: #a8a5ff;
    --Switch-track-border-on-hover: #b2aeff;
    --Switch-track-border-on-disabled: #5c5c5c;

    --Switch-thumb-background-off: #b8b8b8;
    --Switch-thumb-background-off-disabled: #5c5c5c;
    --Switch-thumb-background-on: #242424;
    --Switch-thumb-background-on-disabled: #999999;
  }

  .Switch {
    position: relative;
    box-sizing: border-box;

    width: 40px;
    height: 20px;
    border-radius: 12px;

    transition-property: background, border;
    transition-duration: 150ms;
    transition-timing-function: ease-out;

    background: var(--Switch-track-background-off);
    border: 1px solid var(--Switch-track-border-off);

    &:hover {
      background: var(--Switch-track-background-off-hover);
      border: 1px solid var(--Switch-track-border-off-hover);
    }

    &.toggled {
      background: var(--Switch-track-background-on);
      border: 1px solid var(--Switch-track-border-on);

      &:hover {
        background: var(--Switch-track-background-on-hover);
        border: 1px solid var(--Switch-track-border-on-hover);
      }
    }

    &.disabled {
      background: var(--Switch-track-background-off-disabled);
      border: 1px solid var(--Switch-track-border-off-disabled);

      &.toggled {
        background: var(--Switch-track-background-on-disabled);
        border: 1px solid var(--Switch-track-border-on-disabled);
      }
    }

    &:before {
      content: "";
      box-sizing: border-box;
      display: block;
      pointer-events: none;
      position: absolute;

      border-radius: 100%;
      transition: all 150ms ease-out;

      width: 10px;
      height: 10px;
      top: 4px;
      left: 4px;

      background: var(--Switch-thumb-background-off);
    }

    &.toggled:before {
      width: 14px;
      height: 14px;
      left: 22px;
      top: 2px;

      background: var(--Switch-thumb-background-on);
    }

    &.disabled:before {
      background: var(--Switch-thumb-background-off-disabled);
    }

    &.disabled.toggled:before {
      background: var(--Switch-thumb-background-on-disabled);
    }

    & input {
      width: 100%;
      height: 100%;
      margin: 0;

      border-radius: 12px;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      cursor: pointer;

      &:disabled {
        cursor: unset;
      }
    }
  }
}
