@import "../css/variables.module";

.excalidraw {
  .TextSearch {
    position: absolute;
    top: 90px;
    right: 50px;
    font-size: 15px;
    z-index: 10;
  }
  .searchInput {
    font-size: 20px;
  }
}
