.Toast__container {
  position: fixed;
  bottom: calc(var(--space-factor) * 2);
  right: calc(var(--space-factor) * 2);
  left: calc(var(--space-factor) * 2);
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.Toast {
  position: relative;
}

.Toast__content {
  padding-right: calc(var(--space-factor) * 9);
  max-width: calc(var(--space-factor) * 50);
}

.Toast__close {
  position: absolute;
  width: calc(var(--space-factor) * 5);
  height: calc(var(--space-factor) * 5);
  top: calc(var(--space-factor) * -1);
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Toast__close svg {
  height: calc(var(--space-factor) * 3);
}
