@import "../css/_variables";

.excalidraw {
  .toast {
    box-sizing: border-box;
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -150px;
    z-index: 999999;
    animation: fade-in 0.5s;
    background-color: $oc-gray-6;
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    width: 300px;
  }

  .toast__message {
    font-size: 1rem;
    color: $oc-white;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
