@import "open-color/open-color.scss";
@import "../css/variables.module";

.excalidraw {
  .App-toolbar {
    &.zen-mode {
      .ToolIcon__keybinding,
      .HintViewer {
        display: none;
      }
    }

    &__divider {
      width: 1px;
      height: 1.5rem;
      align-self: center;
      background-color: var(--color-gray-30);
      margin: 0 0.5rem;
    }
  }

  &.theme--dark {
    .App-toolbar {
      &__divider {
        background-color: var(--color-gray-80);
      }
    }
  }
}
