.excalidraw {
  .UserList {
    pointer-events: none;
    /*github corner*/
    padding: var(--space-factor) var(--space-factor) var(--space-factor)
      var(--space-factor);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0.625rem;

    &:empty {
      display: none;
    }
  }

  .UserList > * {
    pointer-events: all;
  }

  .UserList_mobile {
    padding: 0;
    justify-content: normal;
    margin: 0.5rem 0;
  }
}
