@import "./theme.css";

/* http://www.eaglefonts.com/fg-virgil-ttf-131249.htm */
@font-face {
  font-family: "Virgil";
  src: url("https://uploads.codesandbox.io/uploads/user/ed077012-e728-4a42-8395-cbd299149d62/AflB-FG_Virgil.ttf");
  font-display: swap;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color-primary);
}

.container {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.panelColumn {
  display: flex;
  flex-direction: column;

  h5 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 12px;
    color: #333;
  }

  h5:first-child {
    margin-top: 0;
  }

  .buttonList {
    flex-wrap: wrap;

    button {
      margin-right: 4px;
    }
  }
}

.divider {
  height: 1px;
  background-color: #ddd;
  margin: 1px;
}

input:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px steelblue;
}

button {
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 2px 0;
  padding: 5px;
  outline: transparent;

  &:focus {
    box-shadow: 0 0 0 2px steelblue;
  }

  &:hover {
    background-color: #e7e5e5;
    border-color: #d6d4d4;
  }

  &:active {
    background-color: #bdbebc;
    border-color: #bdbebc;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.App-menu {
  display: grid;
}

.App-menu_top {
  grid-template-columns: 1fr auto 1fr;
}

.App-menu_left {
  grid-template-rows: 1fr auto 1fr;
  height: 100%;
}

.App-filename {
  padding-left: 10px;
  padding-right: 10px;
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  align-self: "center";
}
