/* http://www.eaglefonts.com/fg-virgil-ttf-131249.htm */
@font-face {
  font-family: "Virgil";
  src: url("https://uploads.codesandbox.io/uploads/user/ed077012-e728-4a42-8395-cbd299149d62/AflB-FG_Virgil.ttf");
  font-display: swap;
}

body {
  margin: 0;
}

/* Controls - Begin */
fieldset {
  margin: 5px;
}

label {
  margin-right: 10px;
}

label span {
  display: inline-block;
}

label span::first-letter {
  text-decoration: underline;
}

input[type="number"] {
  width: 30px;
}

input {
  margin-right: 5px;
}
/* Controls - End */
