.excalidraw {
  .LaserToolOverlay {
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;

    .LaserToolOverlayCanvas {
      image-rendering: auto;
      overflow: visible;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
