@use "../css/theme";
@use "../css/variables.module";

.excalidraw {
  button.standalone {
    @include variables.outlineButtonIconStyles;

    & > * {
      // dissalow pointer events on children, so we always have event.target on the button itself
      pointer-events: none;
    }
  }
}
