@import "../css/variables.module.scss";

.excalidraw {
  .excalidraw-custom-data-checkboxes {
    position: absolute;
    box-shadow: 0px 2px 4px 0 rgb(0 0 0 / 30%);
    z-index: var(--zIndex-canvasButtons);
    background: var(--island-bg-color);
    border-radius: var(--border-radius-lg);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    min-width: 150px;
    max-width: 300px;
    max-height: 400px;
    overflow-y: auto;

    .custom-data-checkbox-item {
      margin: 0;
      padding: 0.25rem 0;
    }
  }
}

