.excalidraw {
  .ExcalidrawLogo {
    --logo-icon--mobile: 1rem;
    --logo-text--mobile: 0.75rem;

    --logo-icon--xs: 2rem;
    --logo-text--xs: 1.5rem;

    --logo-icon--small: 2.5rem;
    --logo-text--small: 1.75rem;

    --logo-icon--normal: 3rem;
    --logo-text--normal: 2.2rem;

    --logo-icon--large: 90px;
    --logo-text--large: 65px;

    display: flex;
    align-items: center;

    img {
      flex: 0 0 auto;
    }

    .ExcalidrawLogo-icon {
      width: var(--logo-icon--small);
      height: var(--logo-icon--small);
      border-radius: 8px;
      object-fit: cover;
    }

    .ExcalidrawLogo-text {
      margin-left: 0.75rem;
      color: var(--color-logo-text);
      font-family: "Virgil", "Segoe Print", cursive;
      font-weight: 700;
      line-height: 1;
      white-space: nowrap;
    }

    &.is-mobile {
      .ExcalidrawLogo-icon {
        width: var(--logo-icon--mobile);
        height: var(--logo-icon--mobile);
      }

      .ExcalidrawLogo-text {
        font-size: var(--logo-text--mobile);
        margin-left: 0.5rem;
      }
    }

    &.is-xs {
      .ExcalidrawLogo-icon {
        width: var(--logo-icon--xs);
        height: var(--logo-icon--xs);
      }

      .ExcalidrawLogo-text {
        font-size: var(--logo-text--xs);
      }
    }

    &.is-small {
      .ExcalidrawLogo-icon {
        width: var(--logo-icon--small);
        height: var(--logo-icon--small);
      }

      .ExcalidrawLogo-text {
        font-size: var(--logo-text--small);
      }
    }

    &.is-normal {
      .ExcalidrawLogo-icon {
        width: var(--logo-icon--normal);
        height: var(--logo-icon--normal);
      }

      .ExcalidrawLogo-text {
        font-size: var(--logo-text--normal);
      }
    }

    &.is-large {
      .ExcalidrawLogo-icon {
        width: var(--logo-icon--large);
        height: var(--logo-icon--large);
      }

      .ExcalidrawLogo-text {
        font-size: var(--logo-text--large);
      }
    }
  }
}
