.excalidraw {
  .ExcalidrawLogo {
    --logo-icon--xs: 2.4rem;
    --logo-text--xs: 1.8rem;

    --logo-icon--small: 3rem;
    --logo-text--small: 2.1rem;

    --logo-icon--normal: 3.6rem;
    --logo-text--normal: 2.6rem;

    --logo-icon--large: 110px;
    --logo-text--large: 80px;

    display: flex;
    align-items: center;

    svg {
      flex: 0 0 auto;
    }

    .ExcalidrawLogo-icon {
      width: auto;
      color: var(--color-logo-icon);
      //move logo down a couple pixel
      margin-top: 5px;
      
    }

    .ExcalidrawLogo-text {
      margin-left: 0.75rem;
      width: auto;
      color: var(--color-logo-text);
    }

    &.is-xs {
      .ExcalidrawLogo-icon {
        height: var(--logo-icon--xs);
      }

      .ExcalidrawLogo-text {
        height: var(--logo-text--xs);
      }
    }

    &.is-small {
      .ExcalidrawLogo-icon {
        height: var(--logo-icon--small);
      }

      .ExcalidrawLogo-text {
        height: var(--logo-text--small);
      }
    }

    &.is-normal {
      .ExcalidrawLogo-icon {
        height: var(--logo-icon--normal);
      }

      .ExcalidrawLogo-text {
        height: var(--logo-text--normal);
      }
    }

    &.is-large {
      .ExcalidrawLogo-icon {
        height: var(--logo-icon--large);
      }

      .ExcalidrawLogo-text {
        height: var(--logo-text--large);
      }
    }
  }
}

// .ExcalidrawLogo-icon {

// }

// .ExcalidrawLogo-text {
//   font-size: 20px;
//   font-weight: bold;
//   margin-left: 8px;
// }