.excalidraw {
  .MagicSettings {
    .Island {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  .MagicSettings-confirm {
    padding: 0.5rem 1rem;
  }

  .MagicSettings__confirm {
    margin-top: 2rem;
    margin-right: auto;
  }
}
