.excalidraw {
    .progress {
        background: linear-gradient(330deg, #8e4ec6 0, #3e63dd 100%);
        padding: 10px 30px;
        border-radius: 5px;
        margin: 0 20px;
        display: flex;
        align-items: center;
        pointer-events: all;

        .btn {
            height: 100%;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #eee;
            margin: 0 20px;
            cursor: pointer;
        }

        .progressRoot {
            position: relative;
            overflow: hidden;
            background: #00000066;
            border-radius: 99999px;
            width: 300px;
            height: 25px;

            /* Fix overflow clipping in Safari */
            /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
            transform: translateZ(0);
        }

        .progressIndicator {
            background-color: white;
            width: 100%;
            height: 100%;
            transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
        }
    }
}