@use "../css/variables.module" as *;

.excalidraw {
  --RadioGroup-background: var(--island-bg-color);
  --RadioGroup-border: var(--color-surface-high);

  --RadioGroup-choice-color-off: var(--color-primary);
  --RadioGroup-choice-color-off-hover: var(--color-brand-hover);
  --RadioGroup-choice-background-off: var(--island-bg-color);
  --RadioGroup-choice-background-off-active: var(--color-surface-high);

  --RadioGroup-choice-color-on: var(--color-surface-lowest);
  --RadioGroup-choice-background-on: var(--color-primary);
  --RadioGroup-choice-background-on-hover: var(--color-brand-hover);
  --RadioGroup-choice-background-on-active: var(--color-brand-active);

  .RadioGroup {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: calc(3px * var(--ui-scale));
    border-radius: calc(10px * var(--ui-scale));

    background: var(--RadioGroup-background);
    border: 1px solid var(--RadioGroup-border);

    gap: calc(2px * var(--ui-scale));

    &__choice {
      box-sizing: content-box;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: calc(20px * var(--ui-scale));
      height: calc(24px * var(--ui-scale));
      padding: 0 calc(0.375rem * var(--ui-scale));

      color: var(--RadioGroup-choice-color-off);
      background: var(--RadioGroup-choice-background-off);

      border-radius: calc(8px * var(--ui-scale));

      font-family: "Assistant";
      font-style: normal;
      font-weight: 600;
      font-size: calc(0.75rem * var(--ui-scale));
      line-height: 100%;
      user-select: none;
      letter-spacing: 0.4px;

      svg {
        width: calc(1rem * var(--ui-scale));
        height: calc(1rem * var(--ui-scale));
      }

      &:hover {
        color: var(--RadioGroup-choice-color-off-hover);
      }

      &:not(.active):active {
        background: var(--RadioGroup-choice-background-off-active);
      }

      &.active {
        color: var(--RadioGroup-choice-color-on);
        background: var(--RadioGroup-choice-background-on);

        &:hover {
          background: var(--RadioGroup-choice-background-on-hover);
        }

        &:active {
          background: var(--RadioGroup-choice-background-on-active);
        }
      }

      & input {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        border-radius: calc(8px * var(--ui-scale));

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        cursor: pointer;
      }
    }
  }
}
