@import "../css//variables.module.scss";

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.excalidraw {
  .ShapeSwitch__Hint {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background: var(--default-bg-color);

    .key {
      background: var(--color-primary-light);
      padding: 0.4rem 0.8rem;
      font-weight: bold;
      border-radius: 0.5rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    }

    .text {
      margin-left: 0.5rem;
    }
  }

  .animation {
    opacity: 1;
    animation: disappear 2s ease-out;
  }

  .ShapeSwitch__Panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.2rem;
    border-radius: 0.5rem;
    background: var(--default-bg-color);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  }
}
