.excalidraw {
  .terraform-debug-toolbar {
    position: fixed;
    right: 1rem;
    bottom: 4.5rem;
    z-index: 4;
    pointer-events: none;

    &__island {
      pointer-events: var(--ui-pointerEvents);
      min-width: 4.5rem;

      .ToolIcon_type_button {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
