.excalidraw {
  .terraform-debug-toolbar {
    pointer-events: none;

    &__island {
      pointer-events: var(--ui-pointerEvents);
      min-width: 4.5rem;

      .ToolIcon_type_button {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
