@import "open-color/open-color.scss";
@import "../css/variables.module.scss";

.excalidraw {
  .App-toolbar {
    &.zen-mode {
      .ToolIcon__keybinding,
      .HintViewer {
        display: none;
      }
    }

    &__divider {
      width: 1px;
      height: 1.5rem;
      align-self: center;
      background-color: var(--default-border-color);
      margin: 0 0.25rem;

      @include isMobile {
        margin: 0;
      }
    }
  }

  .App-toolbar__extra-tools-trigger {
    box-shadow: none;
    border: 0;
    background-color: transparent;
    svg {
      color: var(--sparkwise-color-gray-300);
    }
    &:hover {
      background: var(--sparkwise-color-gray-50);
    }
    &:active {
      background-color: var(--sparkwise-color-gray-100);
      svg {
        color: var(--sparkwise-color-gray-700);
      }
    }

    &--selected,
    &--selected:hover {
      background-color: var(--sparkwise-color-gray-100);
      svg {
        color: var(--sparkwise-color-gray-700);
      }
    }
  }

  .App-toolbar__extra-tools-dropdown {
    margin-top: 0.375rem;
    right: 0;
    min-width: 11.875rem;
    z-index: 1;
  }
}
