rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{migrations} {
      match /{scenes}/{scene} {
      	allow get, write: if true;
        // redundant, but let's be explicit'
        allow list: if false;
      }
    }
  }
}
