rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /drawings/{clientId}/{drawingId}/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
